body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* Azul claro como el agua */
}
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-left: 10px solid #ffeb3b; /* Borde amarillo para la señal de alerta */
    max-width: 800px;
    width: 100%;
}
.form-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #0277bd; /* Azul profundo para el texto */
}
.btn-custom {
    background-color: #0288d1; /* Azul lavado de autos */
    color: white;
    font-weight: bold;
}
.alert-sign {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #ff5722; /* Naranja de señal de alerta */
    margin-bottom: 15px;
}
.alert-sign i {
    margin-right: 10px;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}